@model TicketPurchaseService.Models.Travel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Travel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passenger)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passenger.PassportNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
