@model IEnumerable<TicketPurchaseService.Models.Travel>

@{
    ViewData["Title"] = "GetTravels";
}

<h1>GetTravels</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passenger)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <!--
                <td>
                @Html.DisplayFor(modelItem => item.Order.Id)
                            </td>
                            <td>
                @Html.DisplayFor(modelItem => item.Passenger.PassportNumber)
                            </td>
            -->
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
